.navbar  {
    margin-bottom: 5px ;
 

}
.carousel-item
{  
    width: 500px;
    height:  70vw;
}
.container-fluid
{
    background-color: rgb(206, 164, 181);
}
.container2-fluid{
    margin-top: -30px;
    background-color: rgb(197, 131, 158);
    width: 660px;
    height: 600px;
}